*{
    padding: 0;
    margin: 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/banner-img-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header img{
    width: 170px;
    float: left;
}

.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}